<div class="form-group row">
    <h2 [ngStyle]="{backgroundColor: getStyle()}">{{myname}}</h2>
</div><div class="form-group row">
    <h2 [ngStyle]="{backgroundColor: getStyle()}">{{myname}}</h2>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <label for="userInput">Event and String Interpolation</label>
    </div>
    <div class="col-md-9">
        <input type="text" id="userInput" class="form-control" [(ngModel)] = "username">
        <p>{{username}}</p>
        <button [disabled]="username==''" (click)="resetUsername()" >Reset Empty String </button>
    </div>
</div>
<div class="form-group">
    <h1 *ngIf="username!=''; else testingngElse">Welcome {{username}}</h1>
    <ng-template #testingngElse>
        <p>WelcomeBack Zone</p>
    </ng-template>
</div>
<h4 *ngFor="let s of userarray"></h4>
<ul>
    <li *ngFor="let item of userarray;"></li>
</ul>